<p>Hello,</p>

    <p>{{sender.full_name}} Sent you an invite to join the GRIT Transactive Grid.</p>
    <p>Click <a href={{signup_link}}> Here </a> to sign up.</p>

<p>Regards,</p>
<p>The GTG Team.</p>
